default_stages: [commit, push]

ci:
  autofix_prs: false

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        args: [
            "-w", # Write changes to files
            "--skip",
            "*.csv,*.bib,tests/books.py,*.ipynb",
            # don't code output from notebooks
            "-L",
            "vise", # Ignore the Danish word 'vise'
          ]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade

  - repo: https://github.com/bwhmather/ssort
    rev: v0.11.6
    hooks:
      - id: ssort

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.4.0
    hooks:
      - id: add-trailing-comma

  # - repo: https://github.com/PyCQA/docformatter
  #   rev: v1.6.0.rc1
  #   hooks:
  #     - id: docformatter
  #       args:
  #         [
  #           --in-place,
  #           --pre-summary-space,
  #           --wrap-descriptions,
  #           "80",
  #           --wrap-summaries,
  #           "80",
  #         ]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        #args: [--line-length, "88"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.261
    hooks:
      - id: ruff

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
