default_stages: [commit, push]

ci:
  autofix_prs: false

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade

  - repo: https://github.com/bwhmather/ssort
    rev: v0.11.6
    hooks:
      - id: ssort

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.4.0
    hooks:
      - id: add-trailing-comma

  # - repo: https://github.com/PyCQA/docformatter
  #   rev: v1.6.0.rc1
  #   hooks:
  #     - id: docformatter
  #       args:
  #         [
  #           --in-place,
  #           --pre-summary-space,
  #           --wrap-descriptions,
  #           "80",
  #           --wrap-summaries,
  #           "80",
  #         ]

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        #args: [--line-length, "88"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.253
    hooks:
      - id: ruff

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.1
    hooks:
      - id: mypy
