spacy>=3.1.0<3.3.0
numpy>=1.20.0,<1.24.0  # >1.23.0 needed for Python 3.10
pandas>=1.0.0,<1.6.0
pyphen>=0.11.0,<0.12.0
ftfy>=6.0.3,<6.2.0

# for tests
pytest>=7.1.3,<7.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
en_core_web_sm==3.2.0

# style
flake8
black
isort