# only for requirements which can't be specified in the pyproject.toml file
# e.g. links to wheels which is not allowed in pyproject.toml on pypi

# spacy pipelines
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0.tar.gz