name: Release
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release

    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      # Checkout action is required for token to persist
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Python Semantic Release
        uses: relekang/python-semantic-release@v7.32.0
        with:
          github_token: ${{ secrets.RELEASE }}
          # Remember to copy the [semantic_release] section from setup.cfg
          # as well
          # To enable pypi,
          # 1) Set upload_to_pypi to true in setup.cfg and
          # 2) Set the pypi_token in the repo
          # 3) Uncomment the two lines below
          repository_username: __token__
          repository_password: ${{ secrets.PYPI_TOKEN }}
